<p id="notice"><%= notice %></p>

<h1>Holdings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Company</th>
      <th>Quantity</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.user_id %></td>
        <td><%= holding.company_id %></td>
        <td><%= holding.quantity %></td>
        <td><%= link_to 'Show', holding %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
