<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to 'New User', new_user_path %>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Balance</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td>$<%= number_to_currency(user.balance, delimiter: '', unit: '') %></td>
        <td><%= link_to 'Show Orders', orders_path(user_id: user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= will_paginate @users %>
