<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Balance:</strong>
  <td>$<%= number_to_currency(@user.balance, delimiter: '', unit: '') %></td>
</p>
<%= link_to 'Deposits', user_deposits_path(@user.id) %>
<%= link_to 'Back', users_path %>
<br><br>
<h2>Total Portfolio Worth</h2>

<h3>Stocks</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Current Price</th>
      <th>Average Cost</th>
      <th>Total Return</th>
      <th>Equity</th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.company.name %></td>
        <td><%= holding.company.ticker %></td>
        <td><%= holding.quantity %></td>
        <td>$<%= number_to_currency(holding.company.price, delimiter: '', unit: '') %></td>
        <td>$0.00</td>
        <td>$0.00</td>
        <td>$<%= number_to_currency(holding.quantity * holding.company.price, delimiter: '', unit: '') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<h3>Trade Records</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Price</th>
      <th>Updated At</th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.id %></td>
        <td><%= trade.cached_buy_order.cached_user_name %></td>
        <td><%= trade.cached_sell_order.cached_user_name %></td>
        <td><%= trade.price %></td>
        <td><%= trade.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<%= will_paginate @trades %>

