<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.radio_button :order_type, Order::BUY, :checked => true, :style =>'display: inline-block;'%>
    <%= form.label :order_type, 'BUY', :style =>'display: inline-block;'%>
    <%= form.radio_button :order_type, Order::SELL, :style =>'display: inline-block;'%>
    <%= form.label :order_type, 'SELL', :style =>'display: inline-block;'%>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, step: "1" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    $<%= form.number_field :price, value: number_to_currency(form.object.price.to_f, delimiter: '', unit: ''), step: "0.01" %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.collection_select(:company_id, Company.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
