<%= form_with(model: @order, local: true) do |form| %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :company_id %>
  <%= form.hidden_field :order_type %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <tbody>
      <tr>
        <td>Company</td>
        <td><%= @order.company.name %></td>
      </tr>
      <tr>
        <td>User</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><%= form.number_field :price, value: number_to_currency(form.object.price.to_f, delimiter: '', unit: ''), step: "0.01" %></td>
      </tr>
    </tbody>
  </table>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
