<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_type %>
    <%#= form.number_field :order_type %>
    <%= form.select :order_type, {Buy: Order::BUY, Sell: Order::SELL} %>
  </div>

  <div class="field">
    <%= form.label :price %>
    $<%= form.number_field :price, value: number_to_currency(form.object.amount.to_f, delimiter: '', unit: ''), step: "0.01" %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.collection_select(:company_id, Company.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, User.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
