<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<h5><%= @user_id ? "/user_id=" + @user_id : "" %></h5>

<table>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Order Type</th>
      <th>Price</th>
      <th>Company</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_type == Order::BUY ? 'BUY' : 'SELL' %></td>
        <td><%= order.price %></td>
        <td><%= order.company.name %></td>
        <td><%= order.user.name %></td>
        <td><%= order.status == Order::PENDING ? 'PENDING' : 'COMPLETED' %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
