<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Order Type</th>
      <th>Company</th>
      <th>Quantity</th>
      <th>Req. Price</th>
      <th>User</th>
      <th>Status</th>
      <th>Cancel Order</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_name %></td>
        <td><%= order.company.name %></td>
        <td><%= order.quantity %> / <%= order.initial || '?' %></td>
        <td>$<%= number_to_currency(order.price, delimiter: '', unit: '') %></td>
        <td><%= order.user.name %></td>
        <td><%= order.status_name %></td>
        <td><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } if order.status == Order::PENDING %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= will_paginate @orders %>
