<p id="notice"><%= notice %></p>

<p>
  <strong>Order Type:</strong>
  <%= @order.order_name  %>
</p>

<p>
  <strong>Req. Price:</strong>
  $<%= number_to_currency(@order.price, delimiter: '', unit: '') %>
</p>

<p>
  <strong>Req. Quantity:</strong>
  <%= @order.initial %>
</p>

<p>
  <strong>Req. Total Price:</strong>
  $<%= number_to_currency(@order.price * @order.initial, delimiter: '', unit: '') %>
</p>

<p>
  <strong>Company:</strong>
  <%= @order.company.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status_name %>
</p>

<%= link_to 'Back', user_orders_path(current_user.id) %>
