<p id="notice"><%= notice %></p>

<p>
  <strong>Order Type:</strong>
  <%= @order.order_type == Order::BUY ? 'BUY' : 'SELL'  %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Company:</strong>
  <%= @order.company.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status == Order::PENDING ? 'PENDING' : 'COMPLETED' %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
