<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Shares</th>
      <th>Current Price</th>
      <th>Trades</th>
      <th>Orders</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.ticker %></td>
        <td><%= company.shares %></td>
        <td>$<%= number_to_currency(company.price, delimiter: '', unit: '') %>
        </td>
        <td><%= link_to 'Trades', company %></td>
        <td><%= link_to 'Orders', orders_path(company_id: company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
