<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Shares</th>
      <th>Current Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.ticker %></td>
        <td><%= company.shares %></td>
        <td>$<%= number_to_currency(
          company.trades.order('updated_at DESC').first ? company.trades.order('updated_at DESC').first.price : "-1.00", delimiter: '', unit: '') %>
        </td>
        <td><%= link_to 'Show', company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
