<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @company.ticker %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @company.shares %>
</p>

<%= link_to 'Back', companies_path %>

<br><br>
<h2>Trades Records</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Price</th>
      <th>Updated At</th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.id %></td>
        <td><%= trade.buy_order.user.name %></td>
        <td><%= trade.sell_order.user.name %></td>
        <td><%= trade.price %></td>
        <td><%= trade.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
