<p id="notice"><%= notice %></p>
<h1>Personal Account</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Balance:</strong>
  <td>$<%= number_to_currency(@user.balance, delimiter: '', unit: '') %></td>
</p>

<%= link_to 'Deposit', new_user_deposit_path(current_user.id), class: "btn btn-outline-secondary" %>

<br><br>
<h1>Banking History</h1>

<table class="table">
  <thead>
    <tr>
      <th>Transaction Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td>$<%= number_to_currency(deposit.amount, delimiter: '', unit: '') %></td>
        <td><%= deposit.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= will_paginate @deposits %>
