<p id="notice"><%= notice %></p>

<p>
  <strong>Buy:</strong>
  <%= @trade.buy_order_id %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @trade.sell_order_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @trade.company_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trade.price %>
</p>

<%= link_to 'Back', trades_path %>
