<!DOCTYPE html>
<html>
  <head>
    <title>SupremePotato Trading</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="top_nav">
        <div class="left">
          <%= link_to root_path do %>
            <p class="title">SupremePotato</p>
            <div class="repeat-logo"></div>
          <% end %> 
        </div>

        <div class="menu">
          <% if logged_in? %>
            <div class="dropdown">
              <div id="dropdownMenuLink" data-toggle="dropdown" class="bull-container">
                <%= image_tag("/assets/bull.jpg", :alt => "logo", :class => "bull") %>
                <p class="text-on-image underline text-truncate">Welcome <%= @current_user.name %>!</p>
              </div>

              
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Orders', user_orders_path(current_user.id), class: "dropdown-item" %>
                <%= link_to 'Portfolio', user_path(current_user.id), class: "dropdown-item" %>
                <%= link_to 'Deposit', new_user_deposit_path(current_user.id), class: "dropdown-item" %>
                <%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>

          <% else %>
            <%= link_to 'Login/SignUp', login_path, class: "underline login" %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
    
  </body>
</html>
