<!DOCTYPE html>
<html>
  <head>
    <title>SupremePotato Trading</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <ul>
        <li><%= link_to 'Companies', companies_path %></li>
        <li><%= link_to 'Orders', orders_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Trades', trades_path %></li>
        <li><%= link_to 'Holdings', holdings_path %></li>
        <li><%= link_to 'Deposits', deposits_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
